<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>USD($)</string>
        <string>EUR(€)</string>
        <string>JPY(¥)</string>
        <string>GBP(£)</string>
        <string>AUD($)</string>
        <string>CAD($)</string>
        <string>CHF(Fr)</string>
        <string>CNY(¥)</string>
        <string>SEK(kr)</string>
        <string>NZD($)</string>
        <string>MXN($)</string>
        <string>SGD($)</string>
        <string>HKD($)</string>
        <string>NOK(kr)</string>
        <string>KRW(₩)</string>
        <string>TRY(₺)</string>
        <string>RUB(₽)</string>
        <string>INR(₹)</string>
        <string>BRL(R$)</string>
        <string>ZAR(R)</string>
    </array>
</plist>
